{% extends 'user/layout/base.html' %}
{% block title %} Thông tin sản phẩm {%endblock%}
{%block content %}

<section class="single-product">
    <div class="container">
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner '>
                                <div class='item active'>
                                    <img src="{{ product.image }}"
                                         alt='' data-zoom-image="{{ product.image }}"/>
                                </div>
                                {% for g in gallery %}
                                <div class='item'>
                                    <img src="{{g}}"
                                         alt='' data-zoom-image="{{g}}"/>
                                </div>
                                {% endfor %}

                            </div>

                            <!-- sag sol -->
                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <i class="tf-ion-ios-arrow-left"></i>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <i class="tf-ion-ios-arrow-right"></i>
                            </a>
                        </div>
                        <!-- thumb -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                                <img src="{{ product.image }}"
                                     alt=''/>
                            </li>
                            {% for g in gallery %}
                            <li data-target="#carousel-custom" data-slide-to="{{ loop.index }}">
                                <img src="{{ g }}" alt="gallery image {{ loop.index }}">
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details" id="product-info" data-product-id="{{ product.id }}">
                    <h2>{{product.name}}</h2>
                    <p class="price">
                        {% if product.sale_percent %}
                        <span class="original-price ">${{ product.price }}</span>
                        <span class="discount-price text-danger">${{ (product.price * (1 - product.sale_percent/100)) | round(2) }}</span>
                        {% else %}
                        <span>${{ product.price }}</span>
                        {% endif %}
                    </p>

                    <p class="product-description mt-20">
                    <div class="review-stars mb-1">
                        {% for i in range(1,6) %}
                        {% if i <= product.rating %}
                        <i class="fas fa-star text-warning"></i>
                        {% else %}
                        <i class="far fa-star text-secondary"></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                    </p>
                    <div class="color-swatches">
                        <span>Màu:</span>
                        <ul>
                            {% for color in colors %}
                            {% set color_en = {
                            'Trắng':'White',
                            'Đỏ': 'Red',
                            'Xanh': 'Blue',
                            'Xanh lá cây': 'Green',
                            'Vàng': 'Yellow',
                            'Đen': 'Black',
                            'Kem': 'Cream'
                            }[color] %}
                            <li>
                                <a href="javascript:void(0);" class="swatch swatch-{{ color_en | lower }}"
                                   data-color="{{ color }}"></a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>


                    <div class="product-size">
                        <span>Size:</span>
                        <select class="form-control" id="size-select">
                            {%for size in sizes%}
                            <option value="{{ size }}"
                                    {% if size=='S' %} selected {% endif %}>
                                {{size}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Stock Display -->
                    <div class="product-stock">
                        <p></p>
                        <p id="stock-display" class="quantity__item">Vui lòng chọn màu và size</p>
                    </div>
                    <div class="product-quantity">
                        <span>Số lượng:</span>
                        <div class="product-quantity-slider">
                            <input type="text"
                                   id="product-quantity-{{ product.id }}"
                                   data-id="{{ product.id }}"
                                   value="1"
                                   name="product-quantity">
                        </div>
                    </div>
                    <div class="product-category">
                        <span>Danh mục:</span>
                        <a href="{{ url_for('main.shop',cate_id=product.category.id) }}">{{product.category.name}}</a>

                    </div>
                    <div class="product-category">
                        <span>Thương hiệu:</span>
                        <a href="{{ url_for('main.shop',brand_id=product.brand.id) }}">{{product.brand.name}}</a>
                    </div>
                    <a href="javascript:void(0);"
                       onclick='addToCart()'
                       class="btn btn-main mt-20"
                       id="add-to-cart-btn">
                        Thêm vào giỏ hàng
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Chi tiết sản
                            phẩm</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false"> Đánh giá( {{
                            reviews|length }} )</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <p>{{product.description}}</p>
                        </div>
                        <div id="reviews" class="tab-pane fade">
                            <div class="post-comments">
                                {% for review in reviews %}
                                <ul class="media-list comments-list m-bot-50 clearlist">
                                    <!-- Comment Item start-->
                                    <li class="media">

                                        <a class="pull-left" href="#!">
                                            <img class="media-object comment-avatar"
                                                 src="{{review.avatar}}"
                                                 alt="" width="50" height="50"/>
                                        </a>

                                        <div class="media-body">
                                            <div class="comment-info">
                                                <h4 class="comment-author">
                                                    <span>{{review.name}}</span>
                                                </h4>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                            </div>
                                            <div class="review-stars mb-1">
                                                {% for i in range(1,6) %}
                                                {% if i <= review.rating %}
                                                <i class="fas fa-star text-warning"></i>
                                                {% else %}
                                                <i class="far fa-star text-secondary"></i>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <p>
                                                {{review.comment}}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="products related-products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Có thể bạn thích</h2>
            </div>
        </div>
        <div class="row">
            {% for p in related_products%}
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <span class="bage">Sale</span>
                        <img class="img-responsive"
                             src="{{ p.image }}"
                             alt="product-img"/>
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <a href="#"><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.product_single',product_id=p.id) }}">
                                        <i class="tf-ion-android-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="{{ url_for('main.product_single',product_id=p.id) }}">{{p.name}}</a>
                        </h4>
                        <p class="price">${{p.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>


<script>
    window.productFromServer = {{product | tojson | safe}};
</script>
{% endblock %}
