{% extends 'user/layout/base.html' %}
{% block title %} Đăng nhập {% endblock %}

{% block header %}{% endblock %}
{% block content %}
<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="{{url_for('main.home')}}">
                        <img src="{{url_for('static',filename='user/images/logo.png')}}" alt="">
                    </a>
                    <h2 class="text-center">Welcome Back</h2>

                    <form class="text-left clearfix" method="POST" action="{{ url_for('admin.login') }}">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" value="{{ username }}"
                                   placeholder="UserName or Email" required>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center">Login</button>
                        </div>
                    </form>
                    <p class="mt-20">New in this site ?<a href="{{url_for ('main.register')}}"> Create New Account</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% block footer %}{% endblock %}
{% endblock %}
